<p id="notice"><%= notice %></p>

<p>
  <strong>Ftpcr:</strong>
  <%= @ftpfile.ftpcr %>
</p>

<p>
  <strong>File name:</strong>
  <%= @ftpfile.file_name %>
</p>

<%= link_to 'Edit', edit_ftpfile_path(@ftpfile) %> |
<%= link_to 'Back', ftpfiles_path %>
