<%= form_with(model: ftpcr, local: true) do |form| %>
  <% if ftpcr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ftpcr.errors.count, "error") %> prohibited this ftpcr from being saved:</h2>

      <ul>
      <% ftpcr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :source_location %>
    <%= form.text_field :source_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
