<p id="notice"><%= notice %></p>

<h1>Ftpcrs</h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Username</th>
      <th>Password</th>
      <th>Source location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ftpcrs.each do |ftpcr| %>
      <tr>
        <td><%= ftpcr.ip %></td>
        <td><%= ftpcr.username %></td>
        <td><%= ftpcr.password %></td>
        <td><%= ftpcr.source_location %></td>
        <td><%= link_to 'Show', ftpcr %></td>
        <td><%= link_to 'Edit', edit_ftpcr_path(ftpcr) %></td>
        <td><%= link_to 'Destroy', ftpcr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ftpcr', new_ftpcr_path %>
