<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @ftpcr.ip %>
</p>

<p>
  <strong>Username:</strong>
  <%= @ftpcr.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @ftpcr.password %>
</p>

<p>
  <strong>Source location:</strong>
  <%= @ftpcr.source_location %>
</p>

<%= link_to 'Edit', edit_ftpcr_path(@ftpcr) %> |
<%= link_to 'Back', ftpcrs_path %>
